{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block head %}{{ super() }}
		<script type="text/javascript">
			window.onload = function () { document.getElementById("password").focus() }
		</script>
{% endblock %}

{% block content %}
			<h2>Change password</h2>

			<form id="change_password" method="post" action="{{ change_password_url }}">
				<fieldset>
{{ form.render_css() }}
				</fieldset>
				<fieldset class="actions">
					<input type="submit" value="Change" />{% for item in query %}
					<input type="hidden" name="{{ item.0|escape }}" value="{{ item.1|escape }}" />{% endfor %}
				</fieldset>
			</form>
{% endblock %}
