{% extends 'base.html' %}

{% block title %}Verification request{% endblock %}

{% block content %}
			<h2>Verification request</h2>

			<p>The site <tt>{{ trust_root|escape }}</tt> has requested verification of your OpenID as <tt>{{ identity|escape }}</tt>.</p>

			<form method="post" action="{{ decision_url }}">
				<p>Verify your identity to the relying party?</p>

				<fieldset class="actions">
					<input type="submit" value="Yes (Allow)" name="approve" />
					<input type="submit" value="Always (Allow)" name="always" />
					<input type="submit" value="No (Cancel)" name="decline" />{% for item in query %}
					<input type="hidden" name="{{ item.0 }}" value="{{ item.1 }}" />{% endfor %}
					{{ logout_form.render_css() }}
				</fieldset>
			</form>{% if required %}

			<p>Relying party also require next information:
				<ul>{% for name, value in required %}
					<li>{{ name|escape }}: {% if value %}<tt>{{ value|escape }}</tt>{% else %}No data available{% endif %}</li>{% endfor %}
				</ul>
			</p>{% endif %}
{% endblock %}
